In [1]:
import pandas as pd

In [2]:
users=pd.read_csv('takehome_users.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe6 in position 1239: invalid continuation byte

In [3]:
with open('takehome_users.csv') as f:
    print(f)

<_io.TextIOWrapper name='takehome_users.csv' mode='r' encoding='cp1252'>

In [5]:
users=pd.read_csv('takehome_users.csv',encoding='cp1252')
user_engagement=pd.read_csv('takehome_user_engagement.csv',encoding='cp1252')

In [20]:
users.info

<bound method DataFrame.info of        object_id        creation_time               name  \
0              1  2014-04-22 03:53:30     Clausen August
1              2  2013-11-15 03:45:04      Poole Matthew
2              3  2013-03-19 23:14:52  Bottrill Mitchell
3              4  2013-05-21 08:09:28    Clausen Nicklas
4              5  2013-01-17 10:14:20          Raw Grace
...          ...                  ...                ...
11995      11996  2013-09-06 06:14:15       Meier Sophia
11996      11997  2013-01-10 18:28:37      Fisher Amelie
11997      11998  2014-04-27 12:45:16        Haynes Jake
11998      11999  2012-05-31 11:55:59       Faber Annett
11999      12000  2014-01-26 08:57:12         Lima ThaÃ­s

                            email     creation_source  \
0        AugustCClausen@yahoo.com        GUEST_INVITE
1          MatthewPoole@gustr.com          ORG_INVITE
2      MitchellBottrill@gustr.com          ORG_INVITE
3       NicklasSClausen@yahoo.com        GUEST_INVITE
4              GraceRaw@yahoo.com        GUEST_INVITE
...                           ...                 ...
11995       SophiaMeier@gustr.com          ORG_INVITE
11996      AmelieFisher@gmail.com  SIGNUP_GOOGLE_AUTH
11997         JakeHaynes@cuvox.de        GUEST_INVITE
11998          mhaerzxp@iuxiw.com   PERSONAL_PROJECTS
11999   ThaisMeloLima@hotmail.com              SIGNUP

       last_session_creation_time  opted_in_to_mailing_list  \
0                    1.398139e+09                         1
1                    1.396238e+09                         0
2                    1.363735e+09                         0
3                    1.369210e+09                         0
4                    1.358850e+09                         0
...                           ...                       ...
11995                1.378448e+09                         0
11996                1.358275e+09                         0
11997                1.398603e+09                         1
11998                1.338638e+09                         0
11999                1.390727e+09                         0

       enabled_for_marketing_drip  org_id  invited_by_user_id
0                               0      11             10803.0
1                               0       1               316.0
2                               0      94              1525.0
3                               0       1              5151.0
4                               0     193              5240.0
...                           ...     ...                 ...
11995                           0      89              8263.0
11996                           0     200                 NaN
11997                           1      83              8074.0
11998                           0       6                 NaN
11999                           1       0                 NaN

[12000 rows x 10 columns]>

In [7]:
users.describe()

,object_id,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
count,12000.00000,8.823000e+03,12000.000000,12000.000000,12000.000000,6417.000000
mean,6000.50000,1.379279e+09,0.249500,0.149333,141.884583,5962.957145
std,3464.24595,1.953116e+07,0.432742,0.356432,124.056723,3383.761968
min,1.00000,1.338452e+09,0.000000,0.000000,0.000000,3.000000
25%,3000.75000,1.363195e+09,0.000000,0.000000,29.000000,3058.000000
50%,6000.50000,1.382888e+09,0.000000,0.000000,108.000000,5954.000000
75%,9000.25000,1.398443e+09,0.000000,0.000000,238.250000,8817.000000
max,12000.00000,1.402067e+09,1.000000,1.000000,416.000000,11999.000000

In [15]:
user_engagement.info

<bound method DataFrame.info of                  time_stamp  user_id  visited
0       2014-04-22 03:53:30        1        1
1       2013-11-15 03:45:04        2        1
2       2013-11-29 03:45:04        2        1
3       2013-12-09 03:45:04        2        1
4       2013-12-25 03:45:04        2        1
...                     ...      ...      ...
207912  2013-09-06 06:14:15    11996        1
207913  2013-01-15 18:28:37    11997        1
207914  2014-04-27 12:45:16    11998        1
207915  2012-06-02 11:55:59    11999        1
207916  2014-01-26 08:57:12    12000        1

[207917 rows x 3 columns]>

In [14]:
user_engagement.describe()

             user_id   visited
count  207917.000000  207917.0
mean     5913.314197       1.0
std      3394.941674       0.0
min         1.000000       1.0
25%      3087.000000       1.0
50%      5682.000000       1.0
75%      8944.000000       1.0
max     12000.000000       1.0

In [17]:
user_engagement.nunique()

time_stamp    207220
user_id         8823
visited            1
dtype: int64

In [18]:
user_engagement.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

user_engagement dataframe is sorted according to user_id

In [19]:
users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [25]:
users.nunique()

object_id                     12000
creation_time                 11996
name                          11355
email                         11980
creation_source                   5
last_session_creation_time     8821
opted_in_to_mailing_list          2
enabled_for_marketing_drip        2
org_id                          417
invited_by_user_id             2564
dtype: int64

converting last_session_creation_time to datetime

In [27]:
users['last_session_creation_time']=pd.to_datetime(users['last_session_creation_time'],unit='s')

In [28]:
users.last_session_creation_time.dtypes

dtype('<M8[ns]')

In [29]:
users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,2014-04-22 03:53:30,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,2013-03-19 23:14:52,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,2013-05-22 08:09:28,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,2013-01-22 10:14:20,0,0,193,5240.0

In [30]:
users['last_session_creation_time'].min(),users['last_session_creation_time'].max()

(Timestamp('2012-05-31 08:20:06'), Timestamp('2014-06-06 14:58:50'))

In [31]:
users['creation_time'].min(),users['creation_time'].max()

('2012-05-31 00:43:27', '2014-05-30 23:59:19')

For determining which users can be labeled as adopted users, we can use groupby and rolling methods to find the user who are active for more than 3 days in any of the 7day rolling periods

In [32]:
df=user_engagement.copy()

In [33]:
df['date']=pd.to_datetime(df.time_stamp.dt.date)

AttributeError: Can only use .dt accessor with datetimelike values

In [34]:
df['Date'] = pd.to_datetime(df.time_stamp, format='%Y-%m-%d %H:%M:%S')

In [35]:
df['date']=pd.to_datetime(df.Date.dt.date)

In [45]:
df['date'].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
207912    False
207913    False
207914    False
207915    False
207916    False
Name: date, Length: 207917, dtype: bool

In [36]:
def rolling_count(df_group,frequency):
    return df_group.rolling(frequency,on="date")['user_id']

In [46]:
df['visits_7_days']=df.groupby('user_id',as_index=False,group_keys=False)

ValueError: 1 columns passed, passed data had 606 columns

In [43]:
df['visited'].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
207912    False
207913    False
207914    False
207915    False
207916    False
Name: visited, Length: 207917, dtype: bool

In [38]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
user_id,207917.0,5913.314197,3394.941674,1.0,3087.0,5682.0,8944.0,12000.0
visited,207917.0,1.000000,0.000000,1.0,1.0,1.0,1.0,1.0