In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [1]:
import pandas as pd

**Step 2: Importing dataset**

In [2]:
df=pd.read_csv('/content/sample_data/Data.csv')

**Step 3: Handling the missing data**

In [3]:
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [4]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [5]:
df.isna().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [6]:
df=df.dropna()

**Step 4: Encoding categorical data**

In [8]:
df.Country.unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [9]:
df.Purchased.unique()

array(['No', 'Yes'], dtype=object)

In [10]:
df['Purchased']=df['Purchased'].map({'No':0,'Yes':1})

**Step 5: Creating a dummy variable**

In [12]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
df['Country']=label_encoder.fit_transform(df['Country'])

In [13]:
df.head()

   Country   Age   Salary  Purchased
0        0  44.0  72000.0          0
1        2  27.0  48000.0          1
2        1  30.0  54000.0          0
3        2  38.0  61000.0          0
5        0  35.0  58000.0          1

**Step 6: Splitting the datasets into training sets and Test sets**

In [15]:
X=df.drop(columns=['Purchased'])
y=df['Purchased']

In [14]:
from sklearn.model_selection import train_test_split

In [16]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

**Step 7: Feature Scaling**

In [17]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [18]:
X_train=scaler.fit_transform(X_train)

In [19]:
X_test=scaler.transform(X_test)